@import "tailwindcss/tailwind.css";

.custom-data-grid .MuiDataGrid-columnHeader {
  font-size: 20px;
  background-color: white;
  font-weight: bold;
  color: black;
}

.custom-data-grid .MuiDataGrid-cell {
  font-size: 20px;
  font-weight: 600;
  color: "white";
  /* font-family: "Maven Pro", "sans-serif"; */
}

.custom-data-grid .MuiDataGrid-row {
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.custom-data-grid .MuiDataGrid-cell:focus,
.custom-data-grid .MuiDataGrid-columnHeader:focus,
.custom-data-grid .MuiDataGrid-columnHeader:focus-within {
  outline: none !important;
  border: none !important;
}
