@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Squada+One&display=swap");

body {
  font-family: "Poppins", sans-serif;
  overflow: hidden;
  background-color: black;
  scroll-behavior: smooth;
  color: white;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #4a5568; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Round edges of the scrollbar thumb */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #edf2f7; /* Background of the scrollbar track */
}

@layer utilities {
  .no-spinner {
    /* For Chrome, Safari, Edge, Opera */
    -webkit-appearance: none;
    margin: 0;
    /* For Firefox */
    -moz-appearance: textfield;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
