@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Squada+One&display=swap");

body {
  font-family: "Poppins", sans-serif;
  overflow: hidden;
  background-color: black;
  scroll-behavior: smooth;
  color: white;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
